html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 248, 248);
}

/*HEADER*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(54, 35, 119);
    height: 120px;
}

.container-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px; 
}

.logo {
    padding: 10px;
    margin-top: 12px;
}

.logo img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: solid rgb(0, 0, 0) 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.text-titre {
    font-size: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255); 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
}

.accroche h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(180, 162, 240);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

/*BOUTON FAIRE UN DON */

.faire-un-don {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(54, 35, 119);
    background-color: rgb(231,231,231);
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.faire-un-don:hover {
    box-shadow: inset 5px 5px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: rgb(143, 123, 206);
}

/*BARRE DE MENU*/

.barre-menu {
    display: flex;
    background-color: rgb(250,248,248);
    margin: 0px;
    padding: 10px;
    justify-content: center;
    border-top: 2px solid rgb(180, 162, 240);
}

.liste-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 40px;
}


.accueil a, .langage a, .action a,
 .presentation a, .contact a {
    text-decoration: none;
    color: black;
}

.accueil, .langage, .action,
 .presentation, .contact {
    font-weight: bold;
    font-size: 22px;
}

.accueil a:hover, .langage a:hover, .action a:hover,
.presentation a:hover, .contact a:hover {
    color: rgb(69, 73, 190);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

/* MENU SOULIGNE*/

/*ACCUEIL*/
.menu-souligne-accueil {
    position: absolute;
    bottom: 0; /* Sous le texte */
    left: 50%; /* Aligné à gauche */
    width: 0; /* largeur initialement invisible */
    height: 4px;
    background-color: rgb(54, 35, 119);
    transition: width 0.3s ease-in-out; /* Animation sur la largeur */
    transform: translateX(-50%); /* pour parfaitement centrer*/
}

.liste-menu li:hover .menu-souligne-accueil {
    width: 100%; /* S'étend à 100% lors du survol */
    left: 50%; /* Aligne à gauche quand étendu*/
    transform: translateX(-50%);
}

.accueil {
    position: relative; /* Nécessaire pour positionner le soulignement sous cet élément */
    padding: 10px 15px; /*padding vertical / padding horizontal */
}

/* langage*/
.menu-souligne-langage {
    position: absolute;
    bottom: 0; /*sera sous le texte*/
    left: 50%; /*aligné à gauche*/
    width: 0; /* largeur de l'élément invisible*/
    height: 4px; /*hauteur*/
    background-color: rgb(54, 35, 119);
    transition: width 0.3s ease-in-out; /* Animation sur la largeur*/
    transform: translateX(-50%); /*déplace l'élément sur l'axe horizontal 
    (l'axe X) de 50% de sa propre largeur vers la gauche*/
}

.liste-menu li:hover .menu-souligne-langage {
    width: 100%; /*l'élément se verra entièrement au survol en largeur*/
    left: 50%; /*aligne à gauche quand étendu*/
    transform: translateX(-50%); 
}

.langage {
    position: relative;
    padding: 10px 15px; /*padding vertical / padding horizontal */
    text-align: center;
}

/*ACTION*/
.menu-souligne-action {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(54, 35, 119);
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);   
}

.liste-menu li:hover .menu-souligne-action {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.action {
    position: relative;
    padding: 10px 15px;
    text-align: center;
}

/*PRESENTATION*/
.menu-souligne-presentation {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(54, 35, 119);
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.liste-menu li:hover .menu-souligne-presentation {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.presentation {
    position: relative;
    padding: 10px 15px;
    text-align: center;
}

/*CONTACT*/
.menu-souligne-contact {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(54, 35, 119);
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.liste-menu li:hover .menu-souligne-contact {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.contact {
    position: relative;
    padding: 10px 15px;
    text-align: center;
}

/*container général*/
.bandeau-photo {
    width: 100%;
    height: 100%;
    position: relative; 
    overflow: hidden; /*cache tout dépassement del'image*/
    background-color: rgb(54, 35, 119);
}

/*La photo*/

.photo-bandeau {
    height: 100%;
}

.photo-bandeau img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /*image ajustée pour qu'elle
    remplisse sans déformations*/
}

.bandau-contact {
    display: flex; /* Utiliser Flexbox pour disposer les éléments côte à côte */
    inset: 0;
    position: relative; /* Pour positionner ce conteneur à l'intérieur du bandeau */
    flex-direction: row-reverse;
    z-index: 2;
    position: absolute;
}

.formulaire {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 40px;
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: relative;
    z-index: 3;
}

/*Style des champs à remplir*/
.formulaire input, 
.formulaire textarea {
    border: none; /* Enlève la bordure */
    border-bottom: 2px solid rgb(59, 62, 161); 
    background: transparent; 
    color: rgb(69, 73, 190); 
    font-size: 16px; 
    font-weight: 600;
    padding: 5px 0; 
    width: 100%; 
    outline: none; /* Enlève le contour par défaut au focus */
    box-sizing: border-box; /* Pour respecter le padding */
}

/*Style specifique au submit "envoyer"*/
.formulaire input[type="submit"] {
    background-color: rgb(69, 73, 190);
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.formulaire input[type="submit"]:hover {
    background-color: rgb(54, 35, 119); /* Changer la couleur du bouton au survol */
}

/*section contact à droite*/
.section-contact {
    width: 50%;
    padding: 20px;   
    color: rgb(59, 62, 161);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    z-index: 3;
}

/*partie telephone*/
.telephone {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 20px;
    transition: transform .3s ease;
}

.telephone:hover {
    transform: scale(1.3);
    color: rgb(81, 86, 224);
}

.bi-telephone {
    font-size: 50px;
}

/*partie adresse*/
.adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 180px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    transition: transform .3s ease;
}

.adresse:hover {
    transform: scale(1.3);
    color: rgb(81, 86, 224);
}

.bi-pin-map-fill {
    font-size: 50px;
}

/*partie E-mail*/
.messagerie {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    transition: transform .3s ease;
}

.messagerie:hover {
    transform: scale(1.3);
    color: rgb(81, 86, 224);
}

.bi-envelope-at-fill {
    font-size: 50px;
}

/*partie reseaux*/
.reseaux {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    transition: transform .3s ease;
}

.reseaux:hover {
    transform: scale(1.3);
    color: rgb(81, 86, 224);
}

.bi-facebook {
    font-size: 50px;
}